
<% if (race.race_type == "road") %>
  <% background = "roadbackground.jpg" %>
<% else %>
  <% background = "trailbackground.jpg"%>
<% end %>

<div class="col-md-12 col-lg-6">
<%= link_to race_path(race), class:"card-link" do  %>
  <div id="card-<%= race.id %>" class="mb-3 card">
    <div class="d-flex w-100">
      <div class="w-75 p-3">
        <p class="race-type mb-3"><%= race.race_type.upcase %></p>
        <h5 class="mb-3"><%= race.name.truncate(25) %> </h5>
        <p class="mb-0"><%= race.location.upcase.split(" ")[0..1].join(" ")[0..-2] %> </p>
        <div class="d-flex race-info-card">
          <p class="mb-0"><%= race.next_edition_date.strftime("%d-%m-%Y") %></p>
          <p class="mb-0 ml-3"><%= race.distance_km %>km/ <%= race.elevation %>d+ </p>
        </div>
      </div>
      <div class="small-img-card w-25" style="background-image: url('/assets/<%= background %>')">

      </div>
    </div>
  </div>
<% end %>
</div>
