<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="card form-race-card p-3 mt-4">
      <%= simple_form_for @race, html: { class: 'no-overflow' } do |f| %>
      <div id="form-tab-new-race" class="mb-4 d-flex justify-content-around">
        <div id="nav-tab-1" class="nav-tab d-flex mr-2 py-3 align-items-center flex-fill tab-race-form text-center selected-tab">
          Iniziamo...
        </div>
        <div id="nav-tab-2" class="nav-tab d-flex mr-2 py-3 align-items-center flex-fill tab-race-form text-center">
          Informazioni Techniche
        </div>
        <div id="nav-tab-3" class="nav-tab d-flex mr-2 py-3 align-items-center flex-fill tab-race-form text-center">
          Dove e quando?
        </div>
        <div id="nav-tab-4" class="nav-tab d-flex mr-2 py-3 align-items-center flex-fill tab-race-form text-center">
          Qualcosa in più...
        </div>
      </div>
      <div class="tab-content form-card form-race-box">
        <div id="stepTab-1" class=" tab-box big-tab" role="tabpanel" aria-labelledby="v-pills-home-tab">
          <%= render "races/form/step_1", f:f %>
        </div>
        <div class="tab-box hidden-tab " id="stepTab-2" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :subscription_start, label:"Apertura Iscrizioni", as: :string, type: :text%>
            </div>
            <div class="col-sm-6">
              <%= f.input :subscription_end, label:"Chiusura Iscrizioni", as: :string, type: :text %>
            </div>
          </div>
          <div class="">
            <label for="">La gara ha prezzi agevolati per gli atleti che si iscrivono con largo anticipo? (Non obbligatorio)</label>
            <div class="row">
              <div class="col-sm-4">
                <%= f.input :first_price_start, label:"Dal", as: :string, type: :text%>
              </div>
              <div class="col-sm-4">
                <%= f.input :first_price_end, label:"Al", as: :string, type: :text%>
              </div>
              <div class="col-sm-4">
                <%= f.input :first_price, label:"Il prezzo è", as: :string, type: :text%>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <%= f.input :second_price_start, label:"Dal", as: :string, type: :text%>
              </div>
              <div class="col-sm-4">
                <%= f.input :second_price_end, label:"Al", as: :string, type: :text%>
              </div>
              <div class="col-sm-4">
                <%= f.input :second_price, label:"Il prezzo è", as: :string, type: :text%>
              </div>
            </div>
          </div>
          <%= f.input :third_price, label: "inserisci il prezzo finale dell'iscrizione in €" %>
          <div class="d-flex justify-content-between">
            <button data-step="1" class="left-step-btn btn step-button" type="button" name="button">Indietro</button>
            <button data-step="3" class="right-step-btn btn step-button" type="button" name="button">Avanti</button>
          </div>
        </div>
        <div class="tab-box hidden-tab" id="stepTab-3" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <%= f.input :description, label:"Racconta qualcosa della gara", as: :text%>
          <div class="d-flex justify-content-between">
            <button data-step="2" class="left-step-btn btn step-button" type="button" name="button">Indietro</button>
            <button data-step="4" class=" right-step-btn btn step-button" type="button" name="button">Avanti</button>
          </div>
        </div>
        <div class="tab-box hidden-tab " id="stepTab-4" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <%= f.input :first_edition, label:"Anno della prima edizione?", as: :string%>
          <%= f.input :goodies, label:"Il pacco gara (se previsto) cosa contiene?", as: :text%>
          <%= f.input :website, label: "Sito Web" %>
          <%= f.input :instagram_page, label: "Profilo Instagram"%>
          <div class="d-flex justify-content-center">
            <button data-step="3" class="left-step-btn btn step-button" type="button" name="button">Indietro</button>
            <%= f.button :submit, class: " btn btn-secondary ilsstep-button"%>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>

let options = { minDate: "today"}

flatpickr("#race_next_edition_date", options);
flatpickr("#race_subscription_start", options);
flatpickr("#race_subscription_end", options);
flatpickr("#race_first_price_start", options);
flatpickr("#race_first_price_end", options);
flatpickr("#race_second_price_start", options);
flatpickr("#race_second_price_end", options);
</script>
