<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <%= render "races/info_card", race: @race %>
    </div>
    <div class="col-lg-6">
      <div id="show-map" style="height: 100%; width:100%;     min-height: 300px;" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>

<div class="container my-3">
  <div class="forms-box">
    <div id="photos" class="photo-form-container">
      <% if !current_user %>
        <p class="missing-extra">
          <span id="" class="span-action" data-toggle="modal" data-target="#signInModal">
            Accedi
          </span>
          per inserire foto o lasciare una recensione</p>
      <% end %>
      <% if current_user && @photos.size == 0 %>
        <p class="missing-extra"><%= @race.name %>
          non ha ancora foto. Puoi inserirne una tu!</p>
        <%= render "photos/new", race: @race, photo: Photo.new%>
      <% end %>
    </div>
  </div>
  <% if @photos.size > 0 %>
  <h3 class="mb-3" >Galleria fotografica</h3>
  <% end %>
  <%= render "photos/show", photos: @photos, photos_urls: @photos_urls %>
</div>

<div class="container pb-3" id="reviews">
  <% if @race.reviews.any? %>
    <h3 class="mb-3">Leggi le Recensioni</h3>
  <% end %>
  <% if user_signed_in? %>
    <% if @reviews.size == 0 %>
      <p class="missing-extra" id="no-reviews"><%= @race.name %>
        non ha ancora recensioni. <span class="span-action" data-toggle="modal" data-target="#reviewModal">
          Scrivi la tua</span></p>
    <% end %>
  <% end %>
  <div class="col px-0 reviews-box">
    <% @reviews.each do |review|%>
      <%= render "reviews/show", r: review %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  input = document.querySelector("#photo_image")

  function formTrigger() {
    form = document.querySelector("#new_photo")
    console.log(input.value);
    Rails.fire(form, 'submit')
    document.querySelector("body").insertAdjacentHTML("afterbegin", "<div class='loading'>Loading</div>")
  }
  input.addEventListener("change", formTrigger, false)
</script>
