<div class="star-box-rate path_rate">
  <%= javascript_pack_tag 'RangeForm' %>
  <%= content_tag :div, id: 'objects_data',  data: {field: "path_rate", label: "Percorso"} do %>
  <% end %>
</div>
<div class="star-box-rate organisation_rate">
  <%= javascript_pack_tag 'RangeForm' %>
  <%= content_tag :div, id: 'objects_data',  data: {field: "organisation_rate", label: "Organizzazione"} do %>
  <% end %>
</div>
<div class="star-box-rate overall_rate">
  <%= javascript_pack_tag 'RangeForm' %>
  <%= content_tag :div, id: 'objects_data',  data: {field: "overall_rate", label: "Voto complessivo"} do %>
  <% end %>
</div>
